#login_body {
    background: #0d3fa9;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -70px;
}

*{
    font-family: sans-serif;
    box-sizing: border-box;
}

#login_form{
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
    margin-top: -72px;
}

a {
    text-decoration: none;
}

#login_h2 {
    text-align: center;
    margin-bottom: 40px;
}

#login_input {
    display: block;
    border: 2px solid #ccc;
    width: 95%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
}

#login_label {
    color: #888;
    font-size: 18px;
    padding: 10px;
}

#login_button{
    float: right;
    background: #555;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    margin-right: 10px;
    border: none;
}
button:hover{
    opacity: .7;
}

.error {
    color: #af4242;
    background-color: #fde8ec;
    padding: 10px;
    transform: translateY(-20px);
    margin-bottom: 20px;
    font-size: 14px;
}


main {
    max-width: 1500px;
    width: 95%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: 110px;
}

main .card {
    max-width: 300px;
    text-align: center;
    height: auto;
    border: 1px solid white;
    margin: 20px;
    margin-bottom: auto;
}

main .card .image {
    height: 50%;
    margin-bottom: 20px;
}

main .card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .card .caption {
    padding-left: 1em;
    text-align: left;
    line-height: 3em;
    height: 25%;
}

main .card p {
    font-size: 1.5rem;
}


.navbar {
    max-height: 100px;
    font-size: 20px;
}